# Homework-05
## Ian Baxter

In [43]:
import numpy as np
import pandas as pd

**1)	For the dataset provided in Gaucho Space, calculate the correlation coefficients between the following quantities:
(u, w) (w, T), (u, T), (u, v)**

In [44]:
names = ['year','month','day','hour','minutes','seconds','u','v','w','T']
df = pd.read_excel('../Homework-04/homework-04.xlsx',skiprows=np.arange(0,8,step=1),names=names)
df.head()

,year,month,day,hour,minutes,seconds,u,v,w,T
0,2008,6,21,12,0,0.0,4.75675,1.39575,2.27300,25.0815
1,2008,6,21,12,0,0.1,4.65325,1.24525,1.99725,25.3056
2,2008,6,21,12,0,0.2,4.58150,1.17250,2.05800,25.2142
3,2008,6,21,12,0,0.3,3.84200,1.60775,2.11575,25.0919
4,2008,6,21,12,0,0.4,4.08350,1.56525,1.88725,25.0884

In [ ]:
def read_lbl(k,var='u'):
    names = ['year','month','day','hour','minutes','seconds','u','v','w','T']
    col_lib = {'u':'G:G','v':'H:H','w':'I:I','T':'J:J'}
    df = pd.read_excel('../Homework-04/homework-04.xlsx',skiprows=np.arange(0,k+8,step=1),
                       names=names,nrows=1.)
    return df

# Code for reading the file line-by-line online and computing mean/variance.
#@jit
def online_mean_variance(var):
    """adapted from John D. Cook's algorithm"""
#    M,S,M_out,S_out = init()
    M = np.zeros(31*10*60)
    S = np.zeros(31*60*10)
    M[0] = read_lbl(0)[var]
    for k in range(1,30*60*10):
        x = read_lbl(k)[var]
        M[k] = M[k-1] + (x - M[k-1])/k
        S[k] = S[k-1] + (x - M[k-1]) * (x - M[k])
        if k == 30*60*10:
            print(M)
            print(np.sqrt(S))
    s2 =  S/(k-1)
    return M[-1], np.sqrt(s2[-1])

def online_mean_variance(var):
    """adapted from John D. Cook's algorithm"""
    M = np.zeros(31*10*60)
    M[0] = df[var][0]
    S = np.zeros(31*10*60)
    for k in range(1,31*10*60):
        M[k] = M[k-1] + (df[var][k] - M[k-1])/k
        S[k] = S[k-1] + (df[var][k] - M[k-1]) * (df[var][k] - M[k])
    s2 =  S/(k-1)
    return M[-1], np.sqrt(s2[-1])

vars = ['u','v','w','T']
#out = [online_mean_variance(var) for var in vars]
out = online_mean_variance('u')
print('Mean and standard deviation for all variables calculated using online single-pass algorithm')
out

In [45]:
def online_covariance(data1, data2):
    meanx = meany = C = n = 0
    for x, y in zip(data1, data2):
        n += 1
        dx = x - meanx
        meanx += dx / n
        meany += (y - meany) / n
        C += dx * (y - meany)
    return C / n 

def online_covariance(data1, data2):
    meanx = meany = C = n = 0
    for x, y in zip(data1, data2):
        n += 1
        dx = x - meanx
        meanx += dx / n
        meany += (y - meany) / n
        C += dx * (y - meany)
    return C / n 

def online_correlation(data1, data2):
    cov = online_covariance(data1, data2)
    std1 = np.sqrt(online_covariance(data1,data1))
    std2 = np.sqrt(online_covariance(data2,data2))
    return cov / std1 / std2

In [46]:
uv = online_correlation(df['u'],df['v'])
wT = online_correlation(df['w'],df['T'])
uT = online_correlation(df['u'],df['T'])
uw = online_correlation(df['u'],df['w'])
print(uv,wT,uT,uw)

0.08027210096401605 0.5036378574428121 -0.599522820605693 -0.32556486067526424

In [47]:
def correlation_test(x,y):
    return np.mean((x - np.mean(x))*(y-np.mean(y)))/np.std(x)/np.std(y)

In [48]:
uv = correlation_test(df['u'],df['v'])
wT = correlation_test(df['w'],df['T'])
uT = correlation_test(df['u'],df['T'])
uw = correlation_test(df['u'],df['w'])
print(uv,wT,uT,uw)

0.08027210096401703 0.5036378574428159 -0.5995228206057012 -0.3255648606752654

**Discuss the magnitudes and signs of the calculated correlation coefficients in relation to those expected for the atmospheric surface layer; see page 74 of the ABL notes for an example of a correlation coefficient.**

There is no correlation between u and v. This is understandable because there is generally very little horizontal momentum flux. 

The correlation between w and T is positive and relatively strong, therefore there is likely upward heat flux taking place.

The negative correlation between u and T suggests that the horizontal heat flux is opposite the zonal winds.

The correlation between u and w is around the typical neutral value. It is typically negative because the surface serves as a momentum sink, so the momentum flux will be down into the surface.

**Express the vertical heat flux and Reynolds stress in appropriate units. Take = 1.15 kg m-3, Cp = 1004 J kg-1 K-1. Also express these fluxes in kinematic units. What is the value of the friction velocity?**

In [49]:
rho = 1.15 # kg m-3
Cp = 1004 # J kg-1 K-1

**Dynamic Vertical Heat Flux**

\begin{align}
\bar{ w^{\prime} T^{\prime} }
\end{align}

In [50]:
H = online_covariance(df['w'],df['T'])
H

0.2239081198012501

In [51]:
H = online_covariance(df['w'],df['T']) / rho / Cp
H

0.0001939270048512473

**Reynold's Stress**

\begin{align}
\tau = -\rho \bar{u^{\prime} w^{\prime}}
\end{align}

Using cup speed

In [52]:
tau = rho * online_covariance(np.sqrt(df['u'] * df['u'] + df['v'] * df['v']),df['w'])
tau

-0.7142115389694704

Using just zonal wind

In [53]:
tau_x = rho * online_covariance(df['u'],df['w'])
tau_x

-0.7367567348182796

**Friction velocity**

Assuming that in the surface layer the Reynold's stress is constant.

\begin{align}
u^{*} = (\tau_{o} / \rho)^{\frac{1}{2}}
\end{align}

In [54]:
u_star = np.sqrt(-online_covariance(df['u'],df['w']))
u_star

0.8004111632634598

**It is normal to find that in the near-neutral surface layer, the friction velocity and the standard deviation of the vertical velocity are proportional to each other such that w / U* = 1.25
Compare this with the value of the ratio you calculate from the data provided. Comment on the result, noting that a typical (u, w) correlation coefficient for the surface layer is of the order of -0.3; see page 74 of the ABL notes.**

In [55]:
std_w = np.sqrt(online_covariance(df['w'],df['w']))
std_w

0.9986547038922733

In [56]:
ratio = std_w / u_star
ratio

1.2476771311141253

The ratio calculated here is similar to the typical ratio provided. The correlation coefficient for this dataset is also of the same magnitude as a typical surface layer. These results suggest that the surface layer being examined was likely experiencing fairly typical neutral conditions.